.SearchnFilter-mobileview{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}  
.SearchnFilter-maindiv{
    padding: 20px;
}
.Events-searchbox{
    background: rgba(255, 255, 255, 0.6);
    box-shadow: 5px 5px 4px rgb(0 0 0 / 25%);
    border-radius: 5px;
    padding: 0.5rem;
    width: 16rem;
    height: 2.5rem;

}
.SearchnFilter-select{
    /*outline: none;*/
    outline: none;
   font: 14px "Open Sans", sans-serif;
   cursor: pointer;
   color: #3c434a;
   border-color: #a6afb7;
   padding: 8px 16px;
   background-color: white;
   border-radius: 3px;
}
select:hover,
select:active {
   border-color: #85929d;
}
#SearchnFilter-mobileLocation{
color: white !important;
}
.location-filter{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 20%;
}
.lcfilters{
    color: white;
    cursor: pointer;
    margin-left: 0.5rem;
}
.SearchnFilter-maindiv{
    padding-left: 3rem;
}
@media(max-width:600px){
    select{
        padding: 0;
        background: none;
    }
    
    .Events-searchbox{
        width: 85%;
        margin-top: 1.5rem;
    }
    .SearchnFilter-maindiv{
        padding-left: 0rem;
    }
    .SearchnFilter-select{
        width: 85%;
    }
}
@media(max-width:1050px){
    select{
        padding: 0;
        background: none;
    }
    
    .Events-searchbox{
        width: 60%;
        margin-top: 1.5rem;
    }
    .SearchnFilter-maindiv{
        padding-left: 0rem;
    }
    .SearchnFilter-select{
        width: 60%;
    }
}