.header{
    min-height: 100vh;
    height: max-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.text-div{

    height: max-content;
    width: 40%;
    padding: 20px;
    position: absolute;
    left: 10%;
    top: 15%;
}
.text-div h2{
font-family: 'League Spartan', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 108px;
/* identical to box height */

color: #F5F5F5;
}
.text-div p{
    width: 50vw;
    word-spacing: 2px;
    font-size: 18px;
    color: #F5F5F5;
}

@media (max-width:400px){
    .header{
        min-height: 100vh;
        width: 100vw;
    }
    .Header-text{
        height: 20rem;
        overflow-y: scroll;
        width: 10rem;
    }
    .text-div h2{
        font-size: 35px;
    }
    img{
        width: 100%;
        height: 100%;
    }
    
}
@media(max-width:650px){

.Header-text {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    height: 12rem;
    overflow: scroll;
}
img{
    width: 100%;
    height: 100%;
}
.Header-text::-webkit-scrollbar { 
    height: 12rem;
    overflow: scroll;
    display: none;  /* Safari and Chrome */
}
.text-div h2{
    font-size: 50px;
    line-height: normal;
}
}