.header{
    min-height: 100vh;
    height: max-content;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

img{
    /* height: 100%; */
    width: 100%;
    object-fit: cover;
}
.text-div h2{
position: absolute;
left: 6.16%;
right: 45.46%;
top: 4.29%;
bottom: 93.52%;

font-family: 'League Spartan', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 96px;
line-height: 108px;
/* identical to box height */

color: #F5F5F5;
}


